/* nav bar*/

.skip a{
    position: relative;
    left: 0;
    padding: 6px;
    -webkit-transition: top 1s ease-out;
    transition: top 1s ease-out;
    z-index: 1;
  }

nav {
    left: 0px;
    height: 45px;
    background-color: #0f110f;
    width: 100%;
    display: flex;
    justify-content: center;
}
nav ul {
    margin: 0;
    padding: 0;
}
nav ul li {
    margin: 0;
    padding: 0;
    float:left;
}
nav ul li a {
    text-decoration: none;
    padding: 10px 20px;
    font-weight: bold;
    display: block;
    color: rgb(255, 255, 255);
    text-align: center;
}




h1 {
text-align: center; 
}

body{
padding-top: 20px;
margin: 0;
background-color: rgb(163, 193, 246);
}




.overview > p{
    font-family:'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    background: #2e0783;
    color: rgb(255, 255, 255);
}



div#sleep.sleep-image > img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

@media screen and (min-width:600px) {
    div#sleep.sleep-image > img{
        width: auto;
    }
}


.about, .events, .contact{
    margin: 10px;
    padding: 18px 18px;
    border: 5px solid #2e0783;
    text-align: center;
    background-color: #a1a7df;
}

@media screen and (min-width: 700px) {
    .grid-container3{
        display: grid;
        grid-template-columns: 1fr 1fr;
    
    }
}

@media screen and (min-width: 900px) {
    .grid-container3{
        grid-template-columns: 1fr 1fr 1fr;

    }
/* 
    div#sleep.sleep-image > img{
        width: 70%;
        height: 50%;
    } */
}

/* 

.grid-container3 > div{
    border: 8px solid #2e0783;
    margin: 30px;
    padding: 10px;
    text-align: center;
} */






/* 
FORM CSS */

.form-name > h3{
    color: darkblue;
    text-align: center;
}
 .about, .events > h2, .contact {
    text-align: center;
 }

 .events > ul{
    text-align: center;
    /*display:*/
 }

